*{
    box-sizing: border-box;
}
.rbody{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #f6f6f6;
    min-height: 100%;
    margin: 5.5%;
    background-image: url("https://images.unsplash.com/photo-1541194577687-8c63bf9e7ee3?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8bXklMjByb29tfGVufDB8fDB8fHww");
}
.rcontainer{
    position: relative;
    width: 768px;
    max-width: 100%;
    max-height: 480px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                0 10px 10px rgba(0, 0, 0, 0.22)
}
.sign-up{
    width: 50%;
    opacity: 0;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in{
    width: 50%;
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    height: 500px;
    transition: all 0.6s ease-in-out;
}
.rform{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
.rh1{
    font-weight: bold;
    margin: 0;
}
.rname{
    display: flex;
    gap: 2%;
}
.rinpu{
    background-color: #eee;
    padding: 10px 15px;
    margin: 5px 0px;
    width: 50%;
    border-radius: 5px;
    border: none;
    outline: none;
}
.rp{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 5px 0 5px;
}
.dinput{
    background-color: #eee;
    padding: 10px 15px;
    margin: 5px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
.ra{
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 5px 0;
}
.rbutton{
    color: #fff;
    background: #b5876d;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 55px;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #ff4b2b2c;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}
.rbutton:active{
    transform: scale(0.90);
}
#signIn, #signUp{
    background-color: transparent;
    border: 2px solid #fff;
}
.rcontainer.right-panel-active .sign-in{
    transform: translateX(100%);
}
.rcontainer.right-panel-active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height:100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.rcontainer.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    columns: #fff;
    background: #ff416c;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #b5876d, #b5876d);
    transform:  translateX(0);
    transition: transform 0.6s ease-in-out;
}
.rcontainer.right-panel-active .overlay{
    transform: translateX(50%);
}
.overlay-left, .overlay-right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}
.overlay-left{
    transform: translateX(-20%);
}
.overlay-right{
    right: 0;
    transform: translateX(0);
}
.rcontainer.right-panel-active .overlay-left{
    transform: translateX(0);
}
.rcontainer.right-panel-active .overlay-right{
    transform: translateX(20%);
}
.social-container{
  margin: 5px 0;
}
.social-container a{
    height: 40px;
    width: 40px;
    margin: 0 5 px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
}