@media (max-width:1000px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: white;
    }
    

    .container246 {
        height: auto;
        width: 100%;
        border: 2px solid rgb(0, 0, 0);
       
        // background-color: #212530;

        .mtop {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: auto;
            background-color: #212530;
            padding: 3%; 
            .mayoestin {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .oetitle {
                    font-size: 28px;
                    margin-top: 20px;
                    text-align: center;
                    color: white;
                }

                .mayoest {
                    height: 140px;

                    p {
                        font-size: 20px;
                        font-weight: 200;
                        margin-top: 20px;
                        color: white;
                    }
                }

                .maysocial {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 30px;
                    margin-bottom: 30px;

                    .iconb {
                        border: 1px solid #b1b1b1;
                        font-size: 28px;
                        margin-right: 25px;
                        color: #b1b1b1;

                    }

                    .iconb:hover {
                        color: white;
                        border: 1px solid white;
                    }
                }
            }

            .maycontact {
                width: 100%;
                height: auto;

                .contitle {
                    font-size: 24px;
                    margin-top: 20px;
                    text-align: center;
                    color: white;
                }

                .maycontactin {
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                justify-content: center;
                align-items: center;
                    gap: 20px;
                    margin-bottom: 30px;
                    

                    .iconc {
                        border: 2px solid #b1b1b1;
                        font-size: 24px;
                        margin-right: 5px;
                        color: #b1b1b1;
                    }

                    .iconc:hover {
                        color: white;
                        border: 1px solid white;
                    }
                }
            }

            .mayquick {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                margin-top: 30px;
                text-align: center;

                .linktitle {
                    font-size: 24px;
                    color: white;

                }

                .quickin {
                    display: flex;
                    flex-direction: column;
                    font-size: 18px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    gap: 10px;
                    

                    li {
                        list-style: none;
                    }
                }

                a:hover {
                    color: #b1b1b1;

                }
            }

            .maycollections {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;


                .coltitle {
                    font-size: 24px;
                    margin-top: 30px;
                    color: white;
                }

                .colimg {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    justify-content: center;
                    gap: 10px;
                    margin-top: 30px;
                    margin-bottom: 40px;

                    img {
                        height: 120px;
                        width: 120px;
                    }
                }

                a:hover {
                    opacity: 0.25;
                }
            }

        }

        .mbot {
            width: 100%;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            background-color: #000000;
            color: white;
            .heart {
                color: rgb(221, 33, 149)
            }

            .th {
                color: green;
                margin-left: 5px;
            }
        }
    }
}




// *******Desktop*********
@media (min-width:1001px){
    .mayank {
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    
    
        .container246 {
            // border: 2px solid rgb(0, 0, 0);
            font-weight: 400;
            color: white;
    
            a {
                text-decoration: none;
            }
    
            .mtop {
                background-color: #212530;
                height: 420px;
                width: 100%;
                display: flex;
                // flex-direction: column;
                // background-color: #e4a6a6;
                // border: 2px solid rgb(30, 250, 30);
    
                padding: 5%;
    
                a {
                    font-size: 18px;
                }
    
                a:not(:empty) {
                    color: white;
                    /* Change the text color only */
                }
    
                .mayoestin {
                    // border: 2px solid rgb(236, 218, 218);
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
    
                    .oetitle {
                        font-size: 26px;
                        // border: 2px solid black;
    
                    }
    
                    .mayoest {
                        height: 140px;
    
                        p {
                            font-size: 20px;
                            // border: 2px solid black;
                            font-weight: 200;
                            color: white;
                        }
                    }
    
                    .maysocial {
                        height: 40px;
                        // border: 2px solid black;
    
                        .iconb {
                            border: 1px solid #b1b1b1;
                            font-size: 28px;
                            margin-right: 25px;
                            color: #b1b1b1;
                        }
    
                        .iconb:hover {
                            color: white;
                            border: 1px solid white;
                        }
                    }
                }
    
                .maycontact {
                    // border: 2px solid rgb(33, 240, 255);
                    width: 20%;
                    margin-left: 80px;
    
                }
    
                .contitle {
                    font-size: 20px;
                    // border: 2px solid black;
                    height: 64px;
    
                }
    
                .maycontactin {
                    // border: 2px solid rgb(33, 240, 255);
                    height: 210px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-top: 20px;
    
                    .iconc {
                        border: 2px solid #b1b1b1;
                        font-size: 24px;
                        margin-right: 5px;
                        color: #b1b1b1;
                    }
    
                    .iconc:hover {
                        color: white;
                        border: 1px solid white;
                    }
                }
    
                .mayquick {
                    // border: 2px solid rgb(184, 168, 168);
                    width: 15%;
                    display: flex;
                    flex-direction: column;
                    margin-left: 50px;
    
                    .linktitle {
                        font-size: 20px;
                        // border: 2px solid black;
                        height: 64px;
                    }
    
                    .quickin {
                        height: 230px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        // border: 2px solid rgb(33, 240, 255);
                        font-size: 22px;
    
                        li {
                            list-style: none;
                        }
                    }
    
                    a:hover {
                        color: #b1b1b1;
                        ;
                    }
    
    
                }
    
                .maycollections {
                    // border: 2px solid rgb(219, 202, 202);
                    width: 25%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 80px;
    
                    .coltitle {
                        font-size: 20px;
                        // border: 2px solid black;
                        height: 64px;
                    }
    
                    .colimg {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        height: 230px;
                        //border: 2px solid rgb(148, 24, 206)
                        padding: 10px;
                        justify-content: center;
                        gap: 10px;
    
                        img {
                            // border: 2px solid rgb(193, 179, 199);
                            height: 90px;
                            width: 90px;
                        }
                    }
    
                    a:hover {
                        opacity: 0.25;
                    }
                }
    
            }
    
            .mbot {
                // border: 2px solid rgb(169, 57, 218);
                width: 100%;
                height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #000000;
                font-size: 14px;
    
                .heart {
                    color: rgb(221, 33, 149)
                }
    
                .th {
                    color: green;
                    margin-left: 5px;
                }
            }
    
        }
    }
}