body{
    margin: 0;
    padding: 0;
}
.top1{
    width: 100%;
    gap: 2%;
    padding-left: 10% !important;
    
}
.signb{
    width: 200px;
}
header{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.ggg::after{
    background: #b5876d none repeat scroll 0 0;
    content: "";
    height: 141px;
    left: -5%;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(-34deg);
    transform: skewX(-34deg);
    width: 28%;
}
.innerdiv{
    position: relative;
    z-index: 9;
}
.nlogo{
    height: 130px;
    margin-left: 70px;
}
a.nav-link{
    color: white;
}
a.nav-link:hover{
    color: antiquewhite;
}
.navbar>.container-fluid{
    padding: 0;
    box-shadow: 0 0 10px #000;
     background: #00000083;
}
.navbar{
    padding: 0px !important;
}
.container-fluid{
    background-color: white;
}
.rlogoi{
    width: 15px;
    height: 15px;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 40%;
    gap: 40%;
}
.top2{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    margin-left: 18%;
    margin-top: 30px;
}
.top3{
    display: flex;
    
}
.c-item{
    height: 600px;
}
.c-img{
    height: 100%;
    object-fit: cover;
}
.mt{
  margin-top: 22%;
  font-size: 60px !important;
}
.rdate{
    height: 150px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    position: relative;
    background-color: white;
    top: -50px;
    padding: 5%;
}
  .start{
    height: 50px;
    width: 17%;
  }
  .Astart{
    height: 50px;
    width: 17%;
  }
  .Check{
    border: none;
    height: 50px;
    width: 17% ;
    background-color: #b5876d;
    padding: 10px;
    color: white;
  }
  .Check:hover{
    background-color: #000;
  }
  .bCheck{
    border: none;
    height: 50px;
    width: 150px ;
    color: #b5876d;
    padding: 10px;
    background-color: white;
    font-size:20px; 
  }
  .bCheck:hover{
    background-color: #b5876d;
    color: white;
  }
  .rmedia{
    display: none;
  }

  @media all and (max-width: 991px){
.ggg::after {
    height: 92px;
    width: 39%;
    position: inherit;
}
.nlogo{
    height: 100px;
    margin-left: 0;
    display: none;
}
.rmedia{
    width: 100%;
    height: 100px;
    background-color: #b5876d;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size:larger;

}
.innerdiv{
    position: relative;
    z-index: 9;
    background-color: #b5876d;
    width: 100%;
}
.navbar-toggler{
    background-color: #b5876d !important;
}
.rdate{
    flex-direction: column;
    position: unset;
    height: 450px;
    width: 100%;
}
.start{
    width: 90%;
    border: 1px solid black;
  }
.Astart{
    width: 90%;
    border: 1px solid black;
  }
  .Check{
    border: none;
    height: 50px;
    width: 50% ;
    background-color: #b5876d;
    padding: 10px;
    color: white;
  }
  .c-item{
    height: 500px;
}
.top2 {
    width: 100%;
}
  }